@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Merriweather+Sans:wght@300&family=Nanum+Gothic&family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@500&family=Quicksand:wght@300;400;500&display=swap');

.consulta {
    background-color: #d7d7b8;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
    

.consultatitle{
    font-family: 'Nunito', sans-serif;
}
  
.contacto {
    font-family: 'Nunito', sans-serif;
    height: 300px;
}