@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Merriweather+Sans:wght@300&family=Nanum+Gothic&family=Nunito:wght@400;500;600;700;800&family=Poppins:wght@500&family=Quicksand:wght@300;400;500&display=swap');

.obrasContent{
    background-color: #fff;
}

.obras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.obrasTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
  
.tituloObras {
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}

@media (max-width:480px){
    .obras{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
}
  
.conocerMas {
    background-color: #d7d7b8;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
}
  
