@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Merriweather+Sans:wght@300&family=Nanum+Gothic&family=Poppins:wght@500&display=swap');
/*-----------ASPECTOS GENERALES------------*/
*{
    padding: 0;
    margin: 0;
}

.buttonTurnos{
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.buttonTurnos:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piePagina{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
} 
/*-------MEDIDAS MOBILE/SMARTPHONE-----------*/
@media (max-width:767px){
    /*-------INDEX---------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    section{
        grid-area: hero;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla1{
        width: 100%;
        height: 100%;
    }
    
    .grilla1{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "hero"
        "main"
        "footer"
        ;  
    }

    .menu{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
     }
       

    nav ul li{
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
     }

    a{
        text-decoration: none;
        color: black;
        margin-top: 2px;
        padding: 3px;
        font-family: 'Poppins', sans-serif;
     }
     
    h1{
        display: grid;
        justify-content: center;
        font-family:'Nunito', sans-serif;
    }
    
    h2{
        font-family: 'Nunito', sans-serif;
    }

    h3{
        padding-top: 5px;
        padding-bottom: 2px;
        font-family:'Nunito', sans-serif;
    }

    .hero{
        background-image: url(../img/chicasonrisa.jpg);
        background-size: cover;
        height: 400px;
    }  

    .turnos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .listCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card1{
        background-color: rgb(104, 177, 186);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-family: 'Nunito', sans-serif;
    }

    .card2{
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-family:'Nunito', sans-serif;
    }

    .card3{
        background-color: rgb(104, 177, 186);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-family:'Nunito', sans-serif;
    }

    .card4{
        background-color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-family:'Nunito', sans-serif;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
    }

    .dondeEstamos{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .redes{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /*----------ESPECIALIDADES---------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    footer{
        grid-area: footer;
    }

    .grilla2{
        width: 100%;
        height: 100%;
    }

    .grilla2{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "hero"
        "main"
        "footer"
        ;  
    }

    nav ul li{
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .dondeEstamos2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
    }

    .redes2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    /*-------OBRAS SOCIALES----------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla3{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
        ;  
    }

    nav ul li{
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    main{
        height: 50vh;
    }

    .tituloObras{
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .listasObras{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .listasObras2{
        display: flex;
        flex-direction: column;
    }

    ul{
        display: flex;
        flex-direction: column;
        font-family:'Nunito', sans-serif;
        gap: 7px;
    }

    .obras{
        text-transform: none;
        text-decoration: none;
    }

    .conocerMas{
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }

    .contactoButton{
        margin-top: 5px;
        padding: 6px;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
        
    .contactoButton:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }

    .dondeEstamos3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
    }

    .redes3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    /*----------NUESTRO CONSULTORIO-----------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    footer{
        grid-area: footer;
    }

    .grilla4{
        width: 100%;
        height: 100%;
    }

    .grilla4{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "hero"
        "main"
        "footer"
        ;  
    }

    .container-img{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .container-img .box-img img{
        height: 300px;
    }

    .dondeEstamos4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
    }

    .redes4{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    /*--------CONTACTO-----------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    footer{
        grid-area: footer;
    }

    .grilla5{
        width: 100%;
        height: 100%;
    }

    .grilla5{
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "hero"
        "main"
        "footer"
        ;  
    }

    main{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: auto;
        gap: 10px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .direccion{
        font-family: 'Poppins', sans-serif;
    }
  
    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }  

    .form{
        background-color: rgb(104, 177, 186);
        margin: auto;
        width: 90%;
        max-width: 400px;
        padding: 15px 3em;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .form_title{
        font-size: 3em;
        margin-bottom: 0.5em;
        font-family:'Nunito', sans-serif;
    }

    .form_label{
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

    .form_input{
        width: 100%;
        background-color: white;
        padding: 0.5rem 0.6rem;
        font-size: 1.5rem;
        border-radius: 10px;
        border: 3px solid transparent;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    
    .form_submit{
        margin-top: 5px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }  
    
    .form_submit:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }
    
    .mapa{
        width: auto;
    }

    .dondeEstamos5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
    }

    .redes5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}        
/*-------------MEDIDAS TABLET-----------------*/
@media (min-width: 768px){
    /*------INDEX------*/
    header{
        grid-area: header;
    }

    section{
        grid-area: hero;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla1{
        display: grid;
        grid-template-areas: 
        "header "
        "main   main"
        "footer footer"; 
    }

    .grilla1{
        width: 100%;
        height: 100%;
    }

    .header{
        display: flex;
        align-items: center;
        color: white;
    }

    .menu{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
    }

    h1{
        display: flex;
        justify-content: center;
        font-family:'Nunito', sans-serif;
    }

    li{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;
        text-decoration: none;
        text-transform: none;
    }

    a{
        text-decoration: none;
        color: black;
        margin-top: 2px;
        padding: 5px;
        font-family: 'Poppins', sans-serif;
    }

    li{
        font-size: large;
    } 

    .hero{
        background-image: url(../img/chicasonrisa.jpg);
        background-size: cover;
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    
    .turnos{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        padding-top: 20px;
    }

    .listCards{
        display: flex;
        flex-direction: column;
    }

    .card1{
        background-color: rgb(104, 177, 186);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Nunito', sans-serif;
    }

    .card2{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Nunito', sans-serif;
    }

    .card3{
        background-color:rgb(104, 177, 186);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Nunito', sans-serif;
    }

    .card4{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:'Nunito', sans-serif;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .datosUbicacion{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    h3{
       padding-top: 5px;
       font-family:'Nunito', sans-serif;
    }

    .redes{
        display: flex;
        flex-direction: column;
    }
    /*------------ESPECIALIDADES------------*/
    header{
        grid-area: header;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla2{
        display: grid;
        grid-template-areas: 
        "header "
        "main   main"
        "footer footer"; 
    }

    nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        text-transform: none;
    }

    .header{
        display: flex;
        align-items: center;
        color: white;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .datosUbicacion{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    h3{
       padding-top: 5px;
       font-family:'Nunito', sans-serif;
    }

    .redes{
        display: flex;
        flex-direction: column;
    }

    /*--------OBRAS SOCIALES----------*/

    header{
        grid-area: header;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla3{
        display: grid;
        grid-template-areas: 
        "header"
        "main   main"
        "footer footer"; 
    }
    .header{
        display: flex;
        align-items: center;
        color: white;
    }

    .menuLista{
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .listasObras{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 80px;
        grid-column-start: 1;
        align-items: center;
    }

    .listasObras2{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-column-start: 3;
    }

    ul{
        display: flex;
        flex-direction: column;
        font-family:'Nunito', sans-serif;
    }

    .tituloObras{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav li ul{
        display: flex;
        flex-direction: column;
        font-family:'Nunito', sans-serif;
    }

    .conocerMas{
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }

    .contactoButton{
        margin-top: 5px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
        
    .contactoButton:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .datosUbicacion{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    h3{
       padding-top: 5px;
       font-family:'Nunito', sans-serif;
    }

    .redes{
        display: flex;
        flex-direction: column;
    }

    /*----------NUESTRO CONSULTORIO----------*/
    header{
        grid-area: header;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla4{
        display: grid;
        grid-template-areas: 
        "header "
        "main   main"
        "footer footer"; 
    }
    .header{
        display: flex;
        align-items: center;
        color: white;
    }

    .container-img{
        display: grid;
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        grid-template-rows: 0px;
        justify-items: center;
        padding-left: 25px
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .datosUbicacion{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    h3{
       padding-top: 5px;
       font-family:'Nunito', sans-serif;
    }

    .redes{
        display: flex;
        flex-direction: column;
    }

    /*-------------CONTACTO-----------*/
    header{
        grid-area: header;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla5{
        display: grid;
        grid-template-areas: 
        "header "
        "main   main"
        "footer footer"; 
    }
    .header{
        display: flex;
        align-items: center;
        color: white;
    }

    .menu{
        height: 150px;
    }

    ul{
        grid-column-start: 2;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    main{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: auto;
        gap: 10px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .direccion{
        font-family: 'Poppins', sans-serif;
    }
  
    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }  

    .form{
        background-color: rgb(104, 177, 186);
        margin: auto;
        width: 90%;
        max-width: 400px;
        padding: 15px 3em;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
        grid-column-start: 2;
        grid-row-start: 2;
        
    }

    .form_title{
        font-size: 3em;
        margin-bottom: 0.5em;
        font-family:'Nunito', sans-serif;
    }

    .form_label{
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

    .form_input{
        width: 100%;
        background-color: white;
        padding: 0.5rem 0.6rem;
        font-size: 1.5rem;
        border-radius: 10px;
        border: 3px solid transparent;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    
    .form_submit{
        margin-top: 5px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }  
    
    .form_submit:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }
    
    .mapa{
        padding-top: 20px;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .datosUbicacion{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    h3{
       padding-top: 5px;
       font-family:'Nunito', sans-serif;
    }

    .redes{
        display: flex;
        flex-direction: column;
    }

}

/*----------------ESTILOS TABLETA-DESKTOP------------------*/
@media (min-width: 1024px){
    /*------------INDEX-----------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla1{
        height: auto;
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "nav    nav    nav  nav"
        "main    main  main   main"
        "footer footer footer footer";
    }

    .menu{
        height: 150px;
    }


    nav ul li{
        grid-column-start: 2;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: row;
        font-family:'Nunito', sans-serif;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    h1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero{
        background-image: url(../img/chicasonrisa.jpg);
        background-size: cover;
        height: 550px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card1{
        background-color: rgb(104, 177, 186);
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: end;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card2{
        background-color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: end;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card3{
        background-color:rgb(104, 177, 186);
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: end;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card4{
        background-color: white;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: end;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .piePagina{
        background-image: url(../img/fondo2.jpg);
        background-size: cover;
        height: auto;
    }

    .dondeEstamos{
        grid-column-start: 1;
        padding-top: 5px;
    }

    .datosUbicacion{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family:'Nunito', sans-serif;
        font-size: large;
    }

    .redes{
        display: flex;
        padding-top: 5px;
    }

    .iconRedes{
        display: flex;
        gap: 3px;
    }
    /*------------ESPECIALIDADES------------*/

    header{
        grid-template-areas: header;
    }

    nav{
        grid-template-areas: nav;
    }

    main{
        grid-template-areas: main;
    }

    footer{
        grid-template-areas: footer;
    }

    .grilla2{
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "nav    nav    nav  nav"
        "main    main  main   main"
        "footer footer footer footer";
    }

    nav ul{
        grid-column-start: 2;
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        gap: 30px;
        font-family:'Nunito', sans-serif;
    }

    .menu{
        height: 150px;
    }

    .dondeEstamos2{
        grid-column-start: 1;
        padding-top: 5px;
    }

    .datosUbicacion2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family:'Nunito', sans-serif;
        font-size: large;
    }

    .redes2{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    .iconRedes2{
        display: flex;
        gap: 3px;
    }

    /*-------------OBRAS SOCIALES-------------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }


    footer{
        grid-area: footer;
    }

    .grilla3{
        display: grid;
        height: 100%;
        grid-template-columns: 25%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "nav    nav    nav  nav"
        "footer footer footer footer";
    }
    .menu{
        height: 150px;
    }

    .menuLista{
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    .obras{
        display: flex;
        flex-direction: column;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .listasObras{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        gap: 80px;
        grid-column-start: 1;
        align-items: center;
    }

    .listasObras2{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-column-start: 3;
    }

    .tituloObras{
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .conocerMas{
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }

    .contactoButton{
        margin-top: 5px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
        
    .contactoButton:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }

    .dondeEstamos3{
        grid-column-start: 1;
        padding-top: 5px;
    }

    .datosUbicacion3{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family:'Nunito', sans-serif;
        font-size: large;
    }

    .redes3{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    .iconRedes3{
        display: flex;
        gap: 3px;
    }
    /*----------NUESTRO CONSULTORIO----------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla4{
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "nav    nav    nav  nav"
        "main    main  main   main"
        "footer footer footer footer";
    }
    .menu{
        height: 150px;
    }

    ul{
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;

    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    .container-img{
        width: 100%;
        max-width: 1100px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px;
        grid-gap: 20px;
        justify-items: stretch;
    }
    .container-img .box-img figure{
        width: 100%;
        height: 100%;
    }
    .container-img .box-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 2;
    }
    .container-img .box-img:nth-child(4){
        grid-row-start: span 2;
    }

    .dondeEstamos2{
        grid-column-start: 1;
        padding-top: 5px;
    }

    .datosUbicacion2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family:'Nunito', sans-serif;
        font-size: large;
    }

    .redes2{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    .iconRedes2{
        display: flex;
        gap: 3px;
    }

    /*--------CONTACTO----------*/
    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

    .grilla5{
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        "nav    nav    nav    nav"
        "main   main   main   main"
        "footer footer footer footer";
    }
    .menu{
        height: 150px;
    }

    ul{
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    a{
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
    }

    main{
        background-color: white;
        display: grid;
        height: auto;
        width: auto;
        justify-items: center;
    }

    .direccion{
        grid-column-start: 1;
        grid-row-start: 1;
        font-family: 'Poppins', sans-serif;
        padding-top: 60px;
        font-size: 25px;
        align-items: center;
    }

    .mapa{
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .form{
        background-color: rgb(104, 177, 186);
        margin: auto;
        width: 90%;
        padding: 15px 3em;
        text-align: center;
        border-radius: 10px;
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .form_title{
        font-size: 3em;
        margin-bottom: 0.5em;
        font-family:'Nunito', sans-serif;
    }

    .form_label{
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

    .form_input{
        width: 100%;
        background-color: white;
        padding: 0.5rem 0.6rem;
        font-size: 1.5rem;
        border-radius: 10px;
        border: 3px solid transparent;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
    
    .form_submit{
        margin-top: 5px;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }  
    
    .form_submit:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }
    
    .mapa{
        padding-top: 20px;
    }

    .dondeEstamos2{
        grid-column-start: 1;
        padding-top: 5px;
    }

    .datosUbicacion2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family:'Nunito', sans-serif;
        font-size: large;
    }

    .redes2{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    .iconRedes2{
        display: flex;
        gap: 3px;
    }

}
    
    


